/*.game {
  border: solid 1px ;
  padding: 50px 50px;
}

.column{
  display: inline;
  border: 1px solid;
  margin: 0 auto;
}

.joe {
  background: black;
}
*/
/*
tbody {
    font-family: nyt-franklin, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #666;
    padding: 8px 3px;
    margin: 0 2px;
    border-bottom: solid 1px #ccc;
}
*/

/*
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
*/

/*#field{
  width: 100%;
  border: none;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
}

.test {
  border-bottom: 1px solid;
  margin: 0 2px;
}*/
/*#column {
  line-height: 30px;
  background-color: #eeeeee;
  height: 300px;
  width: 100px;
  float: left;
  padding: 5px;
  margin: 0 auto;
}
*/
.container {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
}

.row {
  float: left;
  width: 100%;
}

.col {
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
}

.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border-left {
  border-left: 1px solid black;
}

.border-right {
  border-right: 1px solid black;
}

#A {
  margin-right: auto;
  margin-right: auto;
  width: 25px;
  height: 25px;
  position: relative;
  top: 50%;
  right: -12%;
}

.note {
  width: 30px;
  height: 30px;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
}

.carousel {
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  left: 800px;
  top: 50px;
}

.carousel:hover #A_spin{
  transform: translateZ(20px);
}

#A_spin {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

#A_spin figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  top: 10px;
  border: 1px solid black;
}

#A_spin figure:nth-child(1){ transform: rotateX(0deg) translateZ(288px);}
#A_spin figure:nth-child(2){ transform: rotateX(40deg) translateZ(288px);}
#A_spin figure:nth-child(3){ transform: rotateX(0deg) translateZ(288px);}
#A_spin figure:nth-child(4){ transform: rotateX(0deg) translateZ(288px);}

  .container{
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  text-align: center;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

.container:hover .card{
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: tomato;
}

.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background: lightgray;
}








