.stuff {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.container{
  margin: 0 auto;
  position: relative;
  top: 150px;
  left: 0px;
  text-align: center;
}

.greeter {
  background: blue;
  color: white;
}
