.container{
  margin: 0 auto;
  top: 50px;
  left: 50px;
  position: relative;
  width: 310px;
  margin-right: auto;
  margin-left: auto;
  padding: 5%
}

.row{
  /*position: absolute;
  top: 150px;
  left: 450px;*/
  float: left;
  width: 100%;
}

.col {
  width: 100px;
  height: 100px;
  float: left;
  width: 100px;
  height: 100px;
  text-align: center;
}

.border-top{
  border-top: 1px solid black;
}

.border-bottom{
  border-bottom: 1px solid black;
}

.border-left{
  border-left: 1px solid black;
}

.border-right{
  border-right: 1px solid black;
}


